<article>
  <div class="title">
    <p>{{title}}</p>
    <span class="meta">
      Posted by {{user.username}} on
      {{format_date created_at}}
    </span>
  </div>
  <div class="content">
    {{content}}
  </div>
  
</article>