<p>Create New Post</p>
<form>
  <label for="post-title">Title</label>
  <input type="text" id="post-title" />
  <label for="post-content">Content</label>
  <textarea type="textbox" id="post-content"></textarea>
  <input id="add-post-btn" type="submit" value="Create">
</form>

{{!-- <script src="/javascript/add-post.js">
</script> --}}