<h2>Your Dashboard</h2>

{{#if posts.length}}
<section class="post-section">
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<div class="new-post-section" style="display:none">
  {{> new-post }}
</div>

<button class="new-post-btn">+ New Post</button>

<script src="/javascript/post-form.js"></script>
