<h2>Your Dashboard</h2>

{{#if posts.length}}
<div class="post-section">
  {{#each posts as |post|}}
  <section>
    <div class="title">
      <a href="/dashboard/edit/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
      {{created_at}}
    </div>   
  </section>
  {{/each}}
</div>
{{/if}}

<div class="new-post-section" style="display:none">
  {{> new-post }}
</div>

<button class="new-post-btn">+ New Post</button>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>
