<h2>Your Dashboard</h2>

{{#if posts.length}}
<div class="dash-post-section">
  {{#each posts as |post|}}
  <a href="/dashboard/edit/{{id}}">
    <section>
      <div class="title">
        {{title}}
      </div>
      <div class="meta">
        {{format_date created_at}}
      </div>   
    </section>
  </a>
  {{/each}}
</div>
{{/if}}

<div class="new-post-section" style="display:none">
  {{> new-post }}
</div>

<button class="new-post-btn">+ New Post</button>

<script src="/javascript/add-post.js"></script>
