<section class="edit-post-section">
  <p>Edit Post</p>
  <form class="edit-post-form">
    <label for="post-title">Title</label>
    <input name="post-title" type="text" value="{{post.title}}" />
    <label for="post-content">Content</label>
    <textarea class="post-content" name="post-content">{{post.content}}</textarea>

    <button type="submit" class="update-post-btn">Update Post</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </form>
</section>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
