<section class="blog-post">
  {{> blog-post post }}
</section>

{{#if loggedIn}}
<section class="comment-form">
  {{> comment-form }}
</section>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
