* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #272343;
  --secondary-color: #BAE8E8;
  --tertiary-color: #8884a2;
  --serif: Georgia, serif;
  --sans-serif: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--sans-serif);
  max-width: 1500px;
  margin: 0 auto;
}

main {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 20px 0 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 15px 30px;
}

nav ul {
  list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

h1 {
  padding: 15px 30px;
}

h1 a {
  color: var(--secondary-color);
}

nav ul li a {
  margin-right: 40px;
  color: var(--secondary-color);
  font-size: 1.125rem;    
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

nav h1 a {
  color: var(--secondary-color);
}

#logout {
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1.125rem;
  cursor: pointer;border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

nav ul li a:hover, 
#logout:hover {
  border-bottom: 2px solid var(--secondary-color);
}

/* Login page styles */
.login-section {
  display: block;
}

.signup-section {
  display: none;
}

/* Create New Post styles added to 
login/signup form styles */

.login-section,
.signup-section,
.new-post-section, 
.edit-post-section,
.comment-form {
  font-size: 1.125rem;
  margin: 15px 30px;
  border: 2px solid var(--primary-color);
}

.login-section section,
.signup-section section,
.new-post-form, 
.edit-post-form,
.comment-form form {
  padding: 10px;
}

.login-section p:first-child,
.signup-section p:first-child,
.new-post-section p,
.edit-post-section p {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 15px;
}

.login-form,
.signup-form,
.new-post-form,
.edit-post-form, 
.comment-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

}

.login-form label, .login-form input, 
.signup-form label, .signup-form input,
.new-post-form label, .new-post-form input,
.new-post-form textarea,
.edit-post-form label, .edit-post-form input, .edit-post-form textarea,
.comment-form form label,
.comment-form form input,
.comment-form form textarea {
  flex: 100%;
}

.login-form input,
.signup-form input,
.new-post-form input,
.new-post-form textarea,
.edit-post-form input,
.edit-post-form textarea
.comment-form form input,
.comment-form form textarea {
  height: 40px;
  margin-bottom: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
}

.login-form button,
.signup-form button, 
#add-post-btn, 
.update-post-btn,
.delete-post-btn,
.comment-form form button {
  flex: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  background-color: var(--tertiary-color);
  color: #FFF;
  font-size: 1.125rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover,
#add-post-btn:hover,
.update-post-btn:hover,
.delete-post-btn:hover {
  background-color: var(--primary-color);
}

#signup-instead, 
#login-instead {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

#signup-instead:hover, 
#login-instead:hover {
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
}

/* Article styles on Homepage */
.post-list article,
.blog-post article {
  border: 2px solid var(--primary-color);
  margin: 15px 30px 10px;
}

.post-list article:first-child {
  margin-top: 20px;
}

.post-list article .title, 
.blog-post article .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-size: 1.125rem;
}

.post-list article .title .meta {
  color: var(--secondary-color);
}

.post-list article .title a {
  color: var(--secondary-color);
}

.post-list article .title a:hover {
  color: var(--tertiary-color);
}

.post-list article .content,
.blog-post article .content {
  padding: 15px 30px 15px 20px;
}

/* Article styles on Dashboard */
.dashboard-articles {
  margin-bottom: 40px;
}

.dashboard-articles article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.125rem;
}

.dashboard-articles article {
  background-color: var(--tertiary-color);
  margin: 20px 30px;
  border-radius: 5px;
  padding: 10px 20px;
}

.dashboard-articles article:hover {
  background-color: var(--primary-color);
}

.dashboard-articles a {
  color: #FFF;
}

.new-post-btn {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #FFF;
  padding: 10px 15px;
  font-size: 1.25rem;
  cursor: pointer;
}

.new-post-btn:hover {
  color: var(--secondary-color);
}

/* Additional Create New/Edit Post styles */
.new-post-form .post-content,
.edit-post-form .post-content {
  padding: 5px;
  font-family: var(--sans-serif);
}

.update-post-btn {
  margin-bottom: 10px;
}

/* Additional Post & Comment styles */
.blog-post .title {
  color: #FFF;
}

.top-border {
  background-color: var(--primary-color);
  height: 30px;
}

.comment-form form {
  font-size: 1rem;
}

.comment-form form label {
  padding-bottom: 5px;
}

.comment-form form textarea {
  height: 100px;
}

.comment-form form {
  margin-top: 0px;
}